body {
  background-color: rgba(85, 115, 115, 255) !important;
  color: rgba(242, 239, 234, 1) !important;
}

.navbar {
  background-color: rgba(85, 115, 115, 255) !important;
}

.navbar a, .navbar a:visited { /* Updated this line */
  color: rgba(242, 239, 234, 1) !important; /* Set navbar links to off-white */
  text-decoration: none; /* Removes underline from links */
}

.navbar a:hover {
  color: rgba(242, 239, 234, 1) !important; /* Set navbar links hover to the same color */
}

.rounded-image {
  border-radius: 50%;
  width: 150px; /* Adjust width as necessary */
  height: 150px; /* Adjust height as necessary */
}

.container {
  display: flex;
  align-items: flex-start;
}

.container img {
  border-radius: 50%;
  width: 150px;
  margin-right: 20px;
}

.container .text {
  max-width: 600px;
  text-align: justify;
}

/* Hyperlink styles */
a {
  color: #f69a92; /* Normal state color for links outside the navbar */
  text-decoration: none; /* Optional: removes underline */
}

a:hover {
  color: #d86c70; /* Hover state color for links outside the navbar */
}
